<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_browser"
        android:label="@string/app_name"
        android:theme="@style/Theme.IconBrowser"
        android:supportsRtl="true">

        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden" />

        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:label="@string/settings_title" />

        <!-- One alias per disguise. Exactly one should be enabled at a time;
             IconSwitcher.kt enables the chosen one and disables the rest. -->

        <activity-alias
            android:name=".AliasBrowser"
            android:targetActivity=".MainActivity"
            android:icon="@drawable/ic_browser"
            android:label="@string/label_browser"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".AliasWeather"
            android:targetActivity=".MainActivity"
            android:icon="@drawable/ic_weather"
            android:label="@string/label_weather"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".AliasRadio"
            android:targetActivity=".MainActivity"
            android:icon="@drawable/ic_radio"
            android:label="@string/label_radio"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".AliasPhone"
            android:targetActivity=".MainActivity"
            android:icon="@drawable/ic_phone"
            android:label="@string/label_phone"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".AliasCalculator"
            android:targetActivity=".MainActivity"
            android:icon="@drawable/ic_calculator"
            android:label="@string/label_calculator"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".AliasNotes"
            android:targetActivity=".MainActivity"
            android:icon="@drawable/ic_notes"
            android:label="@string/label_notes"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".AliasClock"
            android:targetActivity=".MainActivity"
            android:icon="@drawable/ic_clock"
            android:label="@string/label_clock"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".AliasCalendar"
            android:targetActivity=".MainActivity"
            android:icon="@drawable/ic_calendar"
            android:label="@string/label_calendar"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

    </application>

</manifest>
